.Button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 50px;
    border-radius:  20px;
    background-color: #F5F5F5;
    margin: 10px;
    cursor: pointer;
    font-size: large;
    color: black;
    transition: background-color 0.2s linear;
}
.Button:hover{
    background-color: #E0E0E0;
}
.Button:active{
    background-color: #BDBDBD;
}
