body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
.action-row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}
@media (max-width: 2000px) {
  .action-row{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .table{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scaleX(0.95);
  }
}
@media (max-width: 1440px) {
  .action-row{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .table{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scaleX(0.8);
  }
}
@media (max-width: 1000px) {
  .action-row{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .table{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .action-row{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .table{
    width: 100%;
  }
}